::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #2f3136;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #545a62;
	border-radius: 10px;
	border: 2px solid #2f3136;
}

::-webkit-scrollbar-thumb:hover {
	background: #5c606b;
}

::-webkit-scrollbar-thumb:active {
	background: #4a4f58;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	scrollbar-width: thin;
	scrollbar-color: #252525 #434343;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #222;
	color: #fff;
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
	-ms-overflow-style: none;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100vh;

	gap: 3rem;
}

.movie-card {
	margin: 10px;
	width: 200px;
	height: 300px;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	transition: transform 0.7s, box-shadow 0.7s;
	cursor: pointer;
}

.movie-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s;
}
.movie-card:hover {
	transform: scale(1.05);
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
	z-index: 499;
}

.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal {
	position: relative;
	background-color: #252525;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.358);
}

.close {
	position: absolute;
	top: -16px;
	right: -36px;
	cursor: pointer;
	color: #ff0000;
	font-size: 50px;
}

.modal-content {
	color: #fff;
}

.comment-section {
	color: #fff;
}

.movie-card.projector-hover::before {
	content: "";
	position: absolute;
	top: -50%;
	left: 50%;
	width: 200%;
	height: 200%;
	background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 70%);
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0.5s;
	z-index: 500;
}

.movie-card.projector-hover:hover::before {
	transform: translate(-50%, -50%) scale(3);
}

.projecteur {
	position: absolute;
	top: -185px;

	z-index: 15;
	scale: 2;
	pointer-events: none;
	opacity: 0;

	transition: opacity 0.7s ease, left 0.2s;
}

.couche-wrapper {
	position: relative;
	filter: blur(7px);
}

.couche-wrapper div {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 200px solid rgba(255, 255, 255, 0.1);
	border-radius: 100px;

	position: absolute;
}

.couche-wrapper .couche-2 {
	transform: translateX(-25px);
	border-left: 125px solid transparent;
	border-right: 125px solid transparent;
	border-bottom: 250px solid rgba(255, 255, 255, 0.12);
	border-radius: 125px;
}

.couche-wrapper .couche-3 {
	transform: translateX(-50px);
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 300px solid rgba(255, 255, 255, 0.14);
	border-radius: 150px;
}

.couche-wrapper .couche-4 {
	transform: translateX(-75px);
	border-left: 175px solid transparent;
	border-right: 175px solid transparent;
	border-bottom: 350px solid rgba(255, 255, 255, 0.16);
	border-radius: 175px;
}

.rideaux {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;

	background: #101010b5;
	z-index: 10;

	pointer-events: none;

	transition: opacity 0.7s ease;
	opacity: 0;
}

@media (max-width: 768px) {
	.movie-card {
		width: 150px;
		height: 225px;
	}
}

.film-container {
	padding: 25px;
	padding-bottom: 5px;
	max-height: 95vh;
	width: 1000px;
	overflow-y: auto;

	font-size: 18px;

	color: rgb(234, 234, 234);
}

.film-container .affiche-header {
	display: flex;
	gap: 2rem;
	margin-bottom: 10px;
}

.film-container .affiche-header .header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 300px;
	max-height: 300px;
	width: 100%;

	padding: 0;
	margin-bottom: 10px;
}

.film-container img {
	height: 300px;
	max-height: 300px;
	display: block;
}

.film-container h2 {
	font-size: 2.2em;
	margin-bottom: 15px;
	text-align: center;
}

.film-container .synopsis {
	margin-bottom: 20px;
	height: 200px;
	text-indent: 50px;
	padding: 1rem 0;
}

.film-container .genres {
	text-align: right;
	font-style: italic;
	font-size: 1rem;
}

.film-container .notes {
	text-align: center;
	font-size: 1.2rem;
}

.film-container .commentaires {
	margin-top: 30px;
}

.film-container .commentaires h3 {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.film-container .commentaire {
	border-top: 1px solid #cccccc3a;
	padding-top: 10px;
	margin-top: 10px;
}

.user-image {
	max-width: 30px;
	height: 30px !important;
	aspect-ratio: 1/1;
}

.top_part {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.4rem;
	padding: 0.8rem 0.2rem;

	position: relative;
}
.note {
	position: absolute;
	right: 0.2rem;
	font-size: 1rem;
}

.message {
	font-size: 16px;
	text-indent: 50px;
	padding: 0.1rem 1rem;
	margin-bottom: 1.5rem;
}
